@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Project Created By:</p>
<ul>
    <li>Greg Filipek</li>
    <li>Jenny Cooper</li>  
    <li>Jonny Harris</li>
    <li>Lucjan Stepien</li>   
</ul>
