@{
    ViewBag.Title = "Contact Details";
}

<h3>@ViewBag.Message</h3>

<address>
    <strong>Hotel Name:</strong>
    @ViewBag.hotelName
</address>

<address>
    <strong>Address:</strong>
    @ViewBag.hotelAddress
    
</address>