@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img id="logo" src="/Images/logo.jpg" />
    <h1>@ViewBag.hotelName</h1>
    <p class="lead">Welcome to the Hotel Wizard Enterprise Application Software</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Accommodation Reservations</h2>
        <img class="small-logo" src="/Images/logo.jpg" />
        <p>
            Reservation Front Desk Staff are authorised to use this section. From here, they can check availability and create new reservations, or they can confirm and check in existing accommodation reservations.
        </p>
        <p><a class="btn btn-default" href="/ReservationCustomers" />Go to Accommodation Reservations &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reservations in our Restaurant</h2>
        <img class="small-logo" src="/Images/restaurant-icon.png" />
        <p>Restaurant Staff are authorised to use this section. From here, they can check the availability of the restaurant for any day, or they can confirm existing table reservations.</p>
        <p><a class="btn btn-default" href="/RestaurantCustomer">Go to Restaurant Bookings &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Event Management in the Function Room</h2>
        <img class="small-logo" src="/Images/function-icon.jpg" />
        <p>Event Management Staff are authorised to use this section. From here they can check availability and create new bookings for the function room, or they can modify details for existing bookings.</p>
        <p><a class="btn btn-default" href="#">Go to Function Room Bookings &raquo;</a></p>
    </div>
</div>